<article class="showNews">
  <h2><%= title %></h2>
  <p class="newTime"><%= subtitle %></p>
  <div class="newText">
    <img src="<%= image %>">
    <%- description %>
  </div>
  <div class="appLink"><a href="#"><img src="images/app_magazine.png"></a></div>
</article>