.menuMore {
  height: 38px;
}

.focus {
  min-height: 150px;
}

.lyric {
  ul {
    white-space: nowrap;

    li {
      display: inline;
      padding-right: 30px;
      min-width: 200px;
    }
  }
}

.vipReg .regBtn {
  width: auto;
}

.uLogin {
  left: 5%;
  
  .tab {
    li {
      box-flex: 1;
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
    }

    li.current:first-child {
      background:#F9F9F9;color:#000;-webkit-border-radius:10px 0 0 0;
    }

    li.current:last-child {
      background:#F9F9F9;color:#000;-webkit-border-radius:0 10px 0 0;
    }
  }
}

#content {
  .menu-prefix {
    padding-top: 150px;
  }

  .menu-suffix {
    padding-bottom: 0;
  }
}

#login-dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;

  > .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

.logoControls a {
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -10px;
}
