// Imports and Mixins
@import 'bourbon/bourbon';
@mixin transition-transform($properties...) {
  -webkit-transition: -webkit-transform $properties;
  -moz-transition: -moz-transform $properties;
  -o-transition: -o-transform $properties;
  transition: transform $properties;

}

// // Remove Tap Highlight from Mobile Webkit
// * {
//   -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
//   -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
//   -webkit-tap-highlight-color: rgba(0,0,0,0); /* prevent tap highlight color / shadow */
//   -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
// }

// Push Menu
html, body {
  overflow-x: hidden;
}

#sidebar {
  left: -200px;
}

#pusher {
  #content > .mask {
    position: absolute;
    z-index: 9;
  }

  &.animate {
    #sidebar {
      @include transition-transform(300ms ease);
    }

    #content {
      #header {
        @include transition-transform(300ms ease);
      }
      #page-wrapper {
        @include transition-transform(300ms ease);
      }
    }
  }

  &.openSidebar {
    #sidebar {
      @include transform(translateX(200px));
    }

    #content {
      #header {
        @include transform(translateX(200px));
      }
      #page-wrapper {
        @include transform(translateX(200px));
      }
    }

    #content > .mask {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }
  }
}

// Page
#page-wrapper {
  @include transform(translateX(0));
  overflow-x: hidden;
  overflow-y: scroll; 
  width: 200%;

  > .page-container {
    display: none;
    float: left;
    width: 50%;
    z-index: 0;
  }

  > .page-container.active {
    display: block;
    z-index: 1;
  }

  &.animate {
    @include transition-transform(500ms ease);
    
    > .page-container {
      display: block;
    }
  }

  &.slideLeft {
    @include transform(translateX(-50%));
  }

  &.slideRight {
    @include transform(translateX(50%));
    left: -100%;
  }
}
