// Imports and Mixins
@import 'bourbon/bourbon';
@mixin transition-transform($properties...) {
  -webkit-transition: -webkit-transform $properties;
  -moz-transition: -moz-transform $properties;
  -o-transition: -o-transform $properties;
  transition: transform $properties;

}

// // Remove Tap Highlight from Mobile Webkit
// * {
//   -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
//   -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
//   -webkit-tap-highlight-color: rgba(0,0,0,0); /* prevent tap highlight color / shadow */
//   -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
// }

// Push Menu
html, body {
  overflow: hidden;
}

html, body, #pusher, #sidebar, #content, #page-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

#header, #sidebar, #player {
  position: absolute;
}

#pusher {
  #content {
    overflow: hidden;
  }

  #sidebar {
    position: absolute;
    overflow-y: scroll;
    left: -200px;
    width: 200px;
    
    &::-webkit-scrollbar { 
      width: 0!important;
    }
  }

  #content > .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 10;
  }

  &.animate {
    @include transition-transform(0.3s);
  }

  &.openSidebar {
    @include transform(translateX(200px));

    #content > .mask {
      width: 100%;
      height: 100%;
    }

    #page-wrapper, .page-container {
      overflow-y: hidden;
    }
  }
}

// Page
#page-wrapper {
  overflow-x: hidden;
  overflow-y: scroll; 
  width: 200%;

  > .page-container {
    display: none;
    float: left;
    width: 50%;
  }

  > .page-container.active {
    display: block;
  }

  &.animate {
    @include transition-transform(0.5s);
  }

  &.slideLeft {
    @include transform(translateX(-50%));

    > .page-container {
      display: block;
    }
  }

  &.slideRight {
    @include transform(translateX(50%));
    left: -100%;

    > .page-container {
      display: block;
    }
  }
}
