<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>咪咕音乐</title>
    <meta content="咪咕音乐" name="keywords"/>
    <meta content="咪咕音乐" name="description"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-startup-image" href="images/migu_startup.png" />

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag "require", data: {main: 'javascripts/app'} %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
