<ul class="seaSinger">
  <% for (i=0; i<data.length; i++) { %>
    <% o = data[i] %>
    <li><a href="<%= o.link %>"><img src="<%= o.image %>"><p><span><%= o.title %></span><span><%= o.artist %></span></p></a></li>
  <% } %>
</ul>
