<ul class="prList">
  <% for (i=0; i<data.length; i+=2) { %>
    <li><% o = data[i] %><a href="<%= o.link %>"><img src="<%= o.image %>"></a><% o = data[i+1] %><% if (!o) break %><a href="<%= o.link %>"><img src="<%= o.image %>"></a></li>
  <% } %>
</ul>
