<!--焦点begin -->
<ul class="focus slides">
  <% for (i=0; i<data.length; i++) { %>
    <% o = data[i] %>
    <li class="slide">
      <% if (o.link) { %><a href="<%= o.link %>"><% } %>
      <img src="<%= o.image %>"<%= this.vmsTag(0, i) %>>
      <% if (o.link) { %></a><% } %>
    </li>
  <% } %>
</ul>
<!--焦点begin -->