<!--焦点begin -->
<div class="focus" id="slider"></div>
<!--焦点end -->
<article class="activity" id="jbrd" data-role="tabs" data-title="劲爆热点 大奖"></article>
<article class="activity" id="yyxc" data-role="tabs" data-title="音乐现场 抢票"></article>
<article class="activity" id="djtj" data-role="tabs" data-title="独家推荐 专题"></article>
