<div class="regBreadcrumb"><a href="#home">返回首页</a><span>忘记密码</span></div>
<div class="regCont">
  <ul class="operList">
    <li><input name="" type="tel" placeholder="手机号码：" class="inpReg telIcon mobile" data-role="none"></li>
    <li><input name="" type="submit" value="获取短信验证码" class="regBtn get_token" data-role="none"><input name="" type="submit" value="还剩60秒" class="regBtnN wait" style="display:none;" data-role="none"></li>
    <li><input name="" type="password" placeholder="输入短信验证码：" class="inpReg token" data-role="none"></li>
    <li class="text">输入新密码（6-16位数字、字母和特殊字符组合）</li>
    <li><input name="" type="password" placeholder="输入密码：" class="inpReg pswIcon password" data-role="none"></li>
    <li><input name="" type="password" placeholder="输入确认密码：" class="inpReg pswIcon password_confirmation" data-role="none"></li>
    <li><input name="" type="submit" value="下一步" class="regBtn find_password" data-role="none"></li>
  </ul>
</div>