<!--频道静态图片begin -->
<div class="imgBanner">
  <img src="http://img01.12530.com/cms/resc_images/317219420140217154735big.jpg_RsT_730x300.jpg">
</div>
<!--频道静态图片end -->
<article>
	<h2 class="mainTit textLeft" id="list1-title"></h2>
	<ul class="songList" id="list1-list"></ul>
</article>
<article>
	<h2 class="mainTit textLeft" id="list2-title"></h2>
	<ul class="songList" id="list2-list"></ul>
</article>
<article>
  <h2 class="mainTit textLeft">往期回顾</h2>
  <section id="wqhg"></section>
</article>
<div class="regSuper">
	<a href="#regVip">开通特会，全场MP3免费</a>
</div>
