<!--焦点begin -->
<div class="focus" id="slider" s-id="P1$12345S1"></div>
<!--焦点end -->
<!--榜单列表begin -->
<article class="topRank" data-role="tabs" s-id="P1$12345S2">
  <nav data-role="navbar">
    <ul class="tab">
      <li><a href="#sf">首发</a></li>
      <li><a href="#bd">榜单</a></li>
      <li><a href="#zx">资讯</a></li>
    </ul>
  </nav>
  <section id="sf" t-id="1">
    <ul class="songList" id="sf-list"></ul>
    <div class="more"><a href="#sf">更多歌曲&gt;&gt;</a></div>
  </section>
  <section id="bd" t-id="2">
    <ul class="songList" id="bd-list"></ul>
    <div class="more"><a href="#rank">更多榜单&gt;&gt;</a></div>
  </section>
  <section id="zx" t-id="3">
    <ul class="newList" id="news-list">
    </ul>
    <div class="more"><a href="#zx">更多资讯&gt;&gt;</a></div>
  </section>
</article>
<!--榜单列表end -->
<!--产品列表begin -->
<article class="topRank" data-role="tabs" s-id="P1$12345S3">
  <nav data-role="navbar">
    <ul class="tab">
      <li><a href="#yygc">音乐广场</a></li>
      <li><a href="#yyc">音乐厂</a></li>
      <li><a href="#ymq">乐迷圈</a></li>
    </ul>
  </nav>
  <section id="yygc" t-id="1"></section>
  <section id="yyc" t-id="2"></section>
  <section id="ymq" t-id="3"></section>
</article>
<!--产品列表end -->
