<!--未登录显示begin -->
<ul class="userLogin">
	<li><input name="" type="text" placeholder="输入手机号码" class="inpBox mobile" data-role="none"></li>
	<li><input name="" type="button" class="inpBtn get_token" value="点击获取验证码" data-role="none"><input name="" type="button" class="inpG wait" value="还剩60秒" style="display:none;" disabled data-role="none"></li>
	<li><input name="" type="text" placeholder="输入短信验证码" class="inpBox token" data-role="none"></li>
	<li><input name="" type="button" class="inpBtn send_token" value="提交" data-role="none"></li>
	<li><input name="" type="button" class="inpBtn back" value="返回" data-role="none"></li>
</ul>
<!--未登录显示end -->
