<!--主体内容begin -->
<article>
	<h2 class="mainTit textLeft">人气原创排行</h2>
	<section id="rqycph"></section>
</article>
<article>
	<h2 class="mainTit textLeft">推荐音乐人</h2>
	<section id="tjyyr"></section>
</article>
