<nav class="mv_mod_title"><h2>潮流</h2><em><a href="#mvlist/潮流">更多&gt;&gt;</a></em></nav>
<ul class="mv_list" id="cl"></ul>
<nav class="mv_mod_title"><h2>独家</h2><em><a href="#mvlist/独家">更多&gt;&gt;</a></em></nav>
<ul class="mv_list" id="dj"></ul>
<div class="mv_login_btn"><a href="#">立即登录</a></div>
