<nav class="mv_user_title"><h2>您的账号：<%%= window.login.mobile %></h2></nav>
<div class="mv_mod_box">
  <div class="mv_reg_tips">
    <p>恭喜您！潮流套餐订购成功！</p>
    <p><a href="#mv">返回之前的MV首页</a></p>
  </div>
</div>
