<nav class="mv_mod_title back_title"><h2>潮流订购</h2><em><a href="#">返回</a></em></nav>
<div class="mv_mod_box">
  <dl class="mv_reg">
    <dt>开通潮流包月</dt>
    <dd>
      <p>业务说明：开通潮流套餐，将享受MV歌曲免费无限量观听</p>
      <p>定期为你推荐最潮流歌曲汇</p>
      <p>标准资费：10元/月，详询10086</p>
      <p>付费方式：套餐所需资费将以话费服务费扣除</p>
    </dd>
  </dl>
</div>
<nav class="mv_user_title"><h2>您的账号：<%%= window.login.mobile %></h2></nav>
<div class="mv_mod_box">
  <div class="mv_reg_tips">
    <p>您正在订购潮流会员套餐...</p>
    <p><a href="#mvOrder1" class="submit">确认</a><a href="#mv">取消</a></p>
  </div>
</div>
