<%= partial "userInfo" %>
<article class="myRing">
	<nav>当前彩铃</nav>
	<section id="currRing"></section>
	<nav>其他彩铃</nav>
	<section id="myRing"></section>
</article>
<article class="appLink"><a href="#"><img src="images/app_magazine.png"></a></article>
<article id="hot" data-role="tabs"></article>

