<%= partial "userInfo" %>
<article class="mySong">
	<nav>我的收藏</nav>
	<section id="mySong"></section>
</article>
<article class="appLink"><a href="#"><img src="images/app_magazine.png"></a></article>
<article id="hot" data-role="tabs"></article>
