<!--频道静态图片begin -->
<div class="imgBanner">
	<img src="http://img01.12530.com/cms/resc_images/284733820131216161652big.jpg_RsT_730x300.jpg">
</div>
<!--频道静态图片end -->
<aside class="randomNow">当前：<%%= window.randomTitle %><a href="#random/<%%= window.randomTitle %>">换台</a></aside>
<article>

	<section class="channel">
		<h2>选择频道</h2>
		<ul>
			<li><a href="#random/新歌推荐"><img src="samples/random1.jpg"><p>新歌推荐</p></a></li>
			<li><a href="#random/热门流行"><img src="samples/random2.jpg"><p>热门流行</p></a></li>
			<li><a href="#random/网络红歌"><img src="samples/random3.jpg"><p>网络红歌</p></a></li>
			<li><a href="#random/经典老歌"><img src="samples/random4.jpg"><p>经典老歌</p></a></li>
			<li><a href="#random/华语"><img src="samples/random5.jpg"><p>华语</p></a></li>
			<li><a href="#random/日韩"><img src="samples/random6.jpg"><p>日韩</p></a></li>
			<li><a href="#random/欧美"><img src="samples/random7.jpg"><p>欧美</p></a></li>
			<li><a href="#random/舞曲"><img src="samples/random8.jpg"><p>舞曲</p></a></li>
			<li><a href="#random/影视原声"><img src="samples/random9.jpg"><p>影视原声</p></a></li>
			<li><a href="#random/伤感情歌"><img src="samples/random10.jpg"><p>伤感情歌</p></a></li>
			<li><a href="#random/小清新"><img src="samples/random11.jpg"><p>小清新</p></a></li>
			<li><a href="#random/舒缓节奏"><img src="samples/random12.jpg"><p>舒缓节奏</p></a></li>
			<li><a href="#random/凤凰传奇"><img src="samples/random13.jpg"><p>凤凰传奇</p></a></li>
			<li><a href="#random/汪峰"><img src="samples/random14.jpg"><p>汪峰</p></a></li>
			<li><a href="#random/梅艳芳"><img src="samples/random15.jpg"><p>梅艳芳</p></a></li>
			<li><a href="#random/王菲"><img src="samples/random16.jpg"><p>王菲</p></a></li>
		</ul>
	</section>
</article>
