<div class="regBreadcrumb"><a href="#home">返回首页</a><span>移动通行证</span></div>
<div class="regCont">
	<ul class="operList">
		<li><span class="myTel">手机号码：<b class="mobile"><%= window.login.mobile %></b></span></li>
		<li><input name="" type="submit" value="获取短信验证码" class="regBtn get_token"><input name="" type="submit" value="还剩60秒" class="regBtnN wait" style="display:none;"></li>
		<li><input name="" type="password" placeholder="请输入短信验证码：" class="inpReg token"></li>
		<li><input name="" type="submit" value="提交" class="regBtn send_token"></li>
	</ul>
</div>
