<section class="regTips">
  <%% if (success) { %>
    <p class="succ">恭喜您！开通成功</p>
  <%% } else { %>
    <p class="failure">OH NO！网络不给力开通失败！</p>
  <%% } %>
	<input name="" type="button" class="inpBtn back" value="返回" data-role="none">
</section>
