<article class="showNews">
	<h2><%%= zx["title"] %></h2>
	<p class="newTime"><%%= zx["created_at"] %> 咪咕音乐</p>
	<div class="newText">
		<%%= zx["content"] %>
	</div>
	<div class="appLink"><a href="#"><img src="images/app_magazine.png"></a></div>
</article>
<aside class="rNews">
	<h3>相关新闻</h3>
	<section id="xgxw"></section>
</aside>
