<article>
  <h2 class="mainTit textLeft">歌手</h2>
  <dl class="singerInfo">
    <dt><img src="<%%= image %>"></dt>
    <dd><p><%%= title %></p><%%= content %></dd>
  </dl>
  <h2 class="mainTit textLeft"><%%= title %>歌曲</h2>
  <section id="musics"></section>
</article>
