<article>
  <section>
    <dl class="typeList">
      <dt><img src="images/type_hot.png"></dt>
      <dd><a href="#type/网络">网络</a><a href="#type/舞曲电子">舞曲/电子</a><a href="#type/中国风">中国风</a><a href="#type/影视">影视</a><a href="#type/90后">90后</a><a href="#type/小清新">小清新</a><a href="#type/草原风">草原风</a><a href="#type/慢摇">慢摇</a><a href="#type/广场舞">广场舞</a></dd>
    </dl>
    <dl class="typeList">
      <dt><img src="images/type_mood.png"></dt>
      <dd><a href="#type/伤感">伤感</a><a href="#type/寂寞">寂寞</a><a href="#type/幸福">幸福</a><a href="#type/思念">思念</a><a href="#type/回忆">回忆</a><a href="#type/感动">感动</a><a href="#type/开心">开心</a><a href="#type/凄凉">凄凉</a><a href="#type/浪漫">浪漫</a><a href="#type/励志">励志</a></dd>
    </dl>
    <dl class="typeList">
      <dt><img src="images/type_scene.png"></dt>
      <dd><a href="#type/夜店">夜店</a><a href="#type/酒吧">酒吧</a><a href="#type/咖啡厅">咖啡厅</a><a href="#type/旅行">旅行</a><a href="#type/运动">运动</a><a href="#type/等待">等待</a><a href="#type/分手">分手</a><a href="#type/逛街">逛街</a><a href="#type/午后">午后</a><a href="#type/睡前">睡前</a></dd>
    </dl>
    <dl class="typeList">
      <dt><img src="images/type_style.png"></dt>
      <dd><a href="#type/纯净">纯净</a><a href="#type/沧桑">沧桑</a><a href="#type/清新">清新</a><a href="#type/磁性">磁性</a><a href="#type/低沉">低沉</a><a href="#type/大气">大气</a></dd>
    </dl>
    <dl class="typeList">
      <dt><img src="images/type_theme.png"></dt>
      <dd><a href="#type/纯净">纯净</a><a href="#type/沧桑">沧桑</a><a href="#type/清新">清新</a><a href="#type/磁性">磁性</a><a href="#type/低沉">低沉</a><a href="#type/大气">大气</a></dd>
    </dl>
    <dl class="typeList">
      <dt><img src="images/type_holiday.png"></dt>
      <dd><a href="#type/元旦">元旦/春节</a><a href="#type/情人节">情人节</a><a href="#type/母亲节">母亲节</a><a href="#type/父亲节">父亲节</a><a href="#type/七夕节">七夕节</a><a href="#type/中秋节">中秋节</a><a href="#type/国庆节">国庆节</a><a href="#type/光棍节">光棍节</a><a href="#type/感恩节">感恩节</a><a href="#type/圣诞节">圣诞节</a></dd>
    </dl>
    <dl class="typeList">
      <dt><img src="images/type_languages.png"></dt>
      <dd><a href="#type/国语">国语</a><a href="#type/粤语">粤语</a><a href="#type/闽南语">闽南语</a><a href="#type/英语">英语</a><a href="#type/日语">日语</a><a href="#type/韩语">韩语</a></dd>
    </dl>
    <dl class="typeList">
      <dt><img src="images/type_variety.png"></dt>
      <dd><a href="#type/好声音">好声音</a><a href="#type/我是歌手">我是歌手</a><a href="#type/梦之声">梦之声</a><a href="#type/最强音">最强音</a><a href="#type/快男2013">快男2013</a><a href="#type/春晚2014">春晚2014</a></dd>
    </dl>
    <dl class="typeList">
      <dt><img src="images/type_singer.png"></dt>
      <dd><a href="#type/华语男歌手">华语男歌手</a><a href="#type/华语女歌手">华语女歌手</a><a href="#type/华语组合">华语组合</a><a href="#type/日韩男歌手">日韩男歌手</a><a href="#type/日韩女歌手">日韩女歌手</a><a href="#type/日韩组合">日韩组合</a><a href="#type/欧美男歌手">欧美男歌手</a><a href="#type/欧美女歌手">欧美女歌手</a><a href="#type/欧美组合">欧美组合</a><a href="#type/其他">其他</a></dd>
    </dl>
  </section>
</article>
