<div class="zt_layout">
  <div class="zt_top">
  <img src="http://img01.12530.com/webcms/publish/images/ab1cfdfd-1af3-421c-b354-fb08ffd4dee4.jpg_RsT_820x340.jpg">
  <p>活动时间：2014年6月25日 活动对象：咪咕特级会员</p>
  </div>
  <div class="party_title"><em>paryt&nbsp;1</em><span>全场音乐（彩铃除外）<b>免费下</b></span></div>
  <ul class="songList zt_list" id="part1"></ul>
  <div class="zt_btn"><a href="#">更多免费下</a></div>
  <div class="party_title"><em>paryt&nbsp;2</em><span>三省份特会任下一首歌即可<b>获礼包</b></span></div>
  <div class="zt_price">
    <p>7月1日各省发放礼包内容如下：</p>
    <p>河南：<b>30M省内上网流量</b>（限7月）</p>
    <p>宁夏：<b>5元电子书券、30M流量</b>（限7月）</p>
    <p>深圳：<b>5元话费</b>（7月底到账）</p>
  </div>
  <div class="party_title"><em>paryt&nbsp;3</em><span>下客户端并登录其专区<b>领5元电子券</b></span></div>
  <div class="migu_link">
    <ul>
    <li><a href="#"><img src="images/migu_magazine.png"><p>咪咕音乐客户端</p></a></li>
    <li><a href="#"><img src="images/migu_magazine.png"><p>咪咕铃声客户端</p></a></li>
    <li><a href="#"><img src="images/migu_magazine.png"><p>咪咕杂志客户端</p></a></li>
    <li><a href="#"><img src="images/migu_magazine.png"><p>咪咕爱唱客户端</p></a></li>
    </ul>
  </div>
  <div class="party_title"><em>paryt&nbsp;4</em><span>下MP4即可<b>抽神秘大礼包</b></span></div>
  <div class="zt_btn party_btn"><a href="#myZtVip1">没下载，立即下载抽奖</a><a href="#myZtVip1">已下载，立即抽奖</a></div>
  <div class="party_title"><em>会员生日</em><span>同生日微信晒照片奖<b>50元代金券</b></span></div>
  <div class="zt_text">
    <p>活动玩法：</p>
    <p>生日为6月25日的特会用户，关注“咪咕音乐”微信官方账号，分享本活动，并向咪咕晒出童年生日照等，即可领取50元（电子代金券）零花钱</p>
  </div>
  <div class="qa_title">常见问题</div>
  <dl class="zt_text">
    <dt>1、什么是电子券？</dt>
    <dd>答：电子券是中国移动发行的电子礼金，电子券的金额、有效期、适用商户等属性视具体活动规则而定，用户可在电子券有效期内使用其购买适用商户指定的商品，电子券可拆分或合并使用。</dd>
  </dl>
  <dl class="zt_text">
    <dt>2、如何使用电子券？</dt>
    <dd>答：网站方式：通过登录手机支付业务网站cmpay.10086.cn，进入“电子券专区”或者“本省专区”选择您需要购买的商品，按提示进行支付操作，系统会在扣款时优先扣除代金券（若用户有代金券）。
若有其他疑问，详询10086</dd>
  </dl>
</div>
