<div class="zt_layout">
  <div class="zt_user">
    <ul>
      <li class="user_name">尊敬的<span><%%= window.login.mobile %></span>用户</li>
      <li class="user_vip">会员级别：<span><%%= window.login.vipRank %></span></li>
    </ul>
    <p>特级会员在活动日完成MP4产品的下载体验，即可获得一次音乐达人抽奖机会，赢取神秘大礼包。</p>
    <div class="zt_btn"><a href="#myZtVip2" class="submit">立即抽奖</a></div>
  </div>
  <div class="zt_other_title">推荐下载曲目</div>
  <section id="tjxzqm"></section>
  <!--翻页end-->
  <div class="zt_btn"><a href="#myZtVip">返回活动首页</a></div>
</div>
