<div class="zt_layout">
  <div class="draw_tips">
    <p><b>呀，中奖啦！恭喜您！</b></p>
    <p>奖品内容：50元电子卷</p>
  </div>
  <div class="zt_user">
    <ul>
      <li class="user_name">尊敬的<span><%%= window.login.mobile %></span>用户</li>
      <li class="user_vip">会员级别：<span><%%= window.login.vipRank %></span></li>
    </ul>
  </div>
  <div class="zt_other_title">收货信息填写</div>
  <ul class="user_addr">
    <li>姓名：</li>
    <li><input type="text" class="name" placeholder="输入姓名"></li>
    <li>手机号码：</li>
    <li><input type="tel" class="mobile" placeholder="输入手机号码"></li>
    <li>详细收货地址：</li>
    <li><input type="text" class="address" placeholder="输入详细收货地址"></li>
  </ul>
  <div class="zt_btn"><a href="#" class="submit">确定</a></div>
  <div class="qa_title">常见问题</div>
  <dl class="zt_text">
    <dt>1、什么是电子券？</dt>
    <dd>答：电子券是中国移动发行的电子礼金，电子券的金额、有效期、适用商户等属性视具体活动规则而定，用户可在电子券有效期内使用其购买适用商户指定的商品，电子券可拆分或合并使用。</dd>
  </dl>
  <dl class="zt_text">
    <dt>2、如何使用电子券？</dt>
    <dd>答：网站方式：通过登录手机支付业务网站cmpay.10086.cn，进入“电子券专区”或者“本省专区”选择您需要购买的商品，按提示进行支付操作，系统会在扣款时优先扣除代金券（若用户有代金券）。
若有其他疑问，详询10086</dd>
  </dl>
  <div class="zt_btn"><a href="#myZtVip">返回活动首页</a></div>
</div>
