<form action="<%= data.url %>">
  <div class="mainTit textLeft"><%= data.title %></div>
  <ul class="giveInp">
    <li><input name="" type="checkbox" id="1" checked=""><label for="1">彩铃：2元/首<span>彩铃有效期2015-6-30</span></label></li>
    <li><input name="" type="checkbox" id="2"><label for="2">普通音质歌曲：2.76M<span>1.4元/首</span></label></li>
    <li><input name="" type="checkbox" id="3"><label for="3">高清音质歌曲：2.76M<span>1.4元/首</span></label></li>
    <li><input name="" type="checkbox" id="4"><label for="4">高品质歌曲（320Kbps）：6.21M<span>1.4元/首</span></label></li>
  </ul>
  <ul class="loginInp">
    <li class="marTop">您的姓名或昵称：</li>
    <li><input name="" type="text" placeholder="您的姓名或昵称" class="inpBox"></li>
    <li class="marTop">好友的手机号码：</li>
    <li><input name="" type="text" placeholder="好友的手机号码" class="inpBox"></li>
    <li class="marTop"><input name="submit" type="submit" value="确定" class="inpBtn"></li>
    <li class="marTop"><input name="back" type="button" value="返回" class="inpBtn"></li>
  </ul>
</form>