<div class="mainTit textLeft"><%= title %></div>
<div class="orderTips">
  <p class="<%= success ? 'succ' : 'Fail' %>"><%- description %></p>
  <p><input name="back" type="button" value="返回单曲页面"></p>
</div>