<!-- 公用头部begin -->
<header id="header" data-role="header" data-position="fixed">
  <!-- <div class="loginBar">您好，欢迎来到咪咕音乐，<a href="#">请登录</a></div> -->
  <div class="logoBar">
    <span class="logoControls"><a href="#sidebar"></a></span>
    <div class="logo"><a href="home.html">咪咕音乐</a><a href="#">换肤</a></div>
    <div class="topLink"><a href="#" class="favBtn">收藏</a><a href="#" class="androidBtn">安卓</a></div>
  </div>
  <nav class="navbar" id="navbar">
    <div><a href="#home" class="navbar-home-button">推荐</a><a href="#rank" class="navbar-rank-button">榜单</a><a href="#type" class="navbar-type-button">分类</a><a href="#activity" class="navbar-activity-button">活动</a><a href="#vip" class="navbar-vip-button">会员</a><a href="#" class="navbar-more-button">更多</a></div>
    <div style="display:none" class="navbarMore"><a href="#">推荐</a><a href="#">榜单</a><a href="#">分类</a><a href="#">活动</a><a href="#">会员</a><a href="#">更多</a></div>
  </nav>
  <div class="search" id="search">
    <div class="text"><input name="" type="search" placeholder="咪咕搜索" class="query" lang="zh-CN" data-role="none" /></div>
    <div id="autocomplete"></div>
    <div class="btn"><input name="" type="button" class="send_query" data-role="none" /></div>
  </div>
</header>
<!--公用头部end -->