<div id="loading">
  <div class="loader">
    <span class="icon-loading"></span>
    <h1 class="text">数据加载中...</h1>
  </div>
</div>

<div id="progress">
  <div class="loader">
    <span class="icon-loading"></span>
    <h1 id="progress-text">数据加载中...</h1>
  </div>
</div>