<!--侧边栏begin -->
<aside class="sidebar" id="sidebar" data-role="panel" data-display="push">
  <section class="login">
    <p class="fl_l"><a href="#loginDialog" class="loginSidebarLink">登录</a></p>
    <em class="fl_r" data-rel="close">关闭</em>
  </section>
  <section class="navList">
    <h2>在线内容</h2>
    <ul class="sideList">
      <li class="home"><a href="#home">回到首页</a></li>
      <li class="random"><a href="#random/新歌推荐">随便听听</a></li>
      <li class="find"><a href="#findSong">找歌</a></li>
    </ul>
  </section>
  <section class="navList">
    <h2>个人管理</h2>
    <ul class="sideList">
      <li class="mySong"><a href="#mySong">我的歌单</a></li>
      <li class="myRing"><a href="#myRing">我的彩铃</a></li>
      <li class="vip"><a href="#vip">特级会员</a></li>
      <li class="book"><a href="#book">添加书签</a></li>
      <li class="guest"><a href="#guest">客户反馈</a></li>
    </ul>
  </section>
  <section class="navList">
    <h2>推荐应用</h2>
    <div class="sideApp">
      <a href="#" class="miguRing">咪咕铃声</a>
      <a href="#" class="miguSong">咪咕杂志</a>
      <a href="#" class="migumAgazine">咪咕爱唱</a>
      <a href="#moreApp" class="moreApp">更多应用</a>
    </div>
  </section>
  <div class="loginOut"><a href="#logout">注销</a></div>
</aside>
<!--侧边栏end -->
