<!--焦点begin -->
<div class="focus">
  <div id='slider' class='swipe'>
    <div class='swipe-wrap'>
      <div><img src="http://img01.12530.com/cms/resc_images/284733820131216161652big.jpg_RsT_730x300.jpg"></div>
      <div><img src="http://img01.12530.com/cms/resc_images/284733820131216161652big.jpg_RsT_730x300.jpg"></div>
      <div><img src="http://img01.12530.com/cms/resc_images/284733820131216161652big.jpg_RsT_730x300.jpg"></div>
    </div>
  </div>
</div>
<!--焦点begin -->