<div id="loginDialog" class="uLogin"></div>

<div data-role="page">

  <%= partial "header" %>

  <div class="ui-panel-wrapper" data-role="pagecontainer">
    <section class="container"></section>
  </div>
  
  <%= partial "player" %>
</div>

<%= partial "sidebar" %>

<div id="progress">
  <div class="ui-loader ui-corner-all ui-body-a ui-loader-verbose"><span class="ui-icon-loading"></span><h1 id="progress-text">数据加载中...</h1></div>
</div>