<div id="loginDialog" class="uLogin"></div>

<div data-role="page">

  <%= partial "header" %>

  <div class="ui-panel-wrapper" data-role="pagecontainer">
    <section class="container"></section>
  </div>
  
  <%= partial "player" %>
</div>

<%= partial "sidebar" %>
